body {
  font-size: .9rem;
}

.c-cookie {
  position: fixed;
  bottom: 65px;
  left: 25px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  color: #ffe6cc;
  overflow: hidden;
  transform: translateX(-525px);
  transition: transform .5s ease;
  z-index: 1000;
}

.c-cookie .content-translate {
  overflow: hidden;
  transition: transform .5s ease;
  border-radius: 0px 8px 0px 0px;
}

.c-cookie .content {
  padding: 8px;
  background: #1c1c1c;
  position: relative;
  border-radius: 8px 8px 0 0;
}

.c-cookie p.top-text {
  max-width: 77%;
}

.c-cookie .select-privacy-policy.underline {
  text-decoration: underline;
  color: #ffbb80;
  cursor: pointer;
}

.c-cookie .cookie-img {
  position: absolute;
  width: 324px;
  top: -11px;
  right: -10px;
  opacity: .9;
}

.c-cookie .policy-content-close {
  position: absolute;
  right: 5px;
  top: -4px;
  cursor: pointer;
  font-weight: 500;
  transition: transform .2s ease-in-out;
}

.c-cookie .policy-content-close:hover {
  transform: scale(1.1);
}

.c-cookie .policy-content {
  position: relative;
  padding-bottom: 34px;
  padding-top: 25px;
}

.c-cookie h1 {
  color: #ffbb80;
  margin-bottom: 1.5rem;
}

.c-toggle-accept {
  display: flex;
  padding: 7px 5px;
  border: 2px solid #a7937f;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.c-toggle-accept .toggle-cookie {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.c-toggle-accept .toggle-cookie p {
  margin-bottom: 3px;
}

.c-toggle-accept .switch {
  position: relative;
  display: block;
  width: 85px;
  height: 30px;
  padding: 4px;
  margin: 0 10px;
  background: linear-gradient(to bottom, #2f2f2f, #6b6b6b 60px);
  background-image: -webkit-linear-gradient(top, #2f2f2f, #6b6b6b 60px);
  border-radius: 25px;
  box-shadow: inset 0 -0.5px #777777, inset 0 0px 3px rgba(0, 0, 0, 0.72), 0px -1px 19px 2px rgba(225, 225, 225, 0.35);
  cursor: pointer;
  box-sizing: content-box;
}

.c-toggle-accept .switch-input {
  position: absolute;
  top: 0;
  transform: translateX(0px);
  opacity: 0;
  box-sizing: content-box;
}

.c-toggle-accept .switch-input:checked ~ .switch-handle {
  transform: translateX(54px);
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.6), inset 0px 0.5 rgba(255, 255, 255, 0.2);
}

.c-toggle-accept .switch-input:checked ~ .switch-label {
  background: #F6AE55;
}

.c-toggle-accept .switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 12px;
  background: #da7645;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.5);
  box-sizing: content-box;
}

.c-toggle-accept .switch-handle {
  position: absolute;
  top: 2.5px;
  width: 32px;
  height: 32px;
  background: linear-gradient(to bottom, #545454 40%, #191919);
  background-image: -webkit-linear-gradient(top, #545454 40%, #191919);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.c-toggle-accept .switch-handle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6.5px 0 0 -6.5px;
  width: 13px;
  height: 13px;
  background: linear-gradient(to bottom, #333, #9c9c9c 18px);
  background-image: -webkit-linear-gradient(top, #333, #9c9c9c 18px);
  border-radius: 50%;
  box-shadow: inset 0 1px rgba(225, 225, 225, 0.02), inset 0 0.5px rgba(41, 41, 41, 0.35), 0px -0.5px rgba(255, 255, 255, 0.07);
}

.c-toggle-accept .switch-handle,
.c-toggle-accept .switch-label {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

.c-toggle-accept .toggle-content p {
  margin-left: 25px;
  margin-bottom: 0;
}

.c-select {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #da7645;
  background: #1c1c1c;
}

.c-select span {
  flex: 1 1 50%;
  padding: 10px 0;
  font-weight: 600;
  cursor: pointer;
}

.c-select span:nth-child(2) {
  background: #da7645;
  color: #fff;
  border-left: 1px solid #da7645;
}

.c-select span:nth-child(2):hover {
  background: #1c1c1c;
  color: #ffbb80;
}

.cookie-toggle {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 35px;
  height: 35px;
}

.cookie-toggle i {
  position: absolute;
  font-size: 35px;
  color: #603611;
  -webkit-text-stroke: 2px #da7645;
  cursor: pointer;
  transition: transform .3s ease;
}

.cookie-toggle i:hover {
  transform: scale(1.05);
}

@media (max-width: 530px) {
  .c-cookie {
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-width: 100%;
    border-radius: 0;
  }
  .c-cookie .cookie-img {
    width: 285px;
    top: -17px;
  }
}
